.app_container{
  width: 1200px;
  min-height: 500px;
  margin: auto;
  border: 1px solid green;
  position: relative;
  top: 20px;
  /* box-shadow: 0px 0px 4px 0px #5e600565; */
  border-radius: 4px;
}

.app_header{
  position: absolute;
  width: 100%;
  left: 10px;
}
#lable_header{
  margin:24px 24px 0 10px ;
  line-height: normal;
}

.content_header{
  width:100%;
  /* position: absolute; */
  display: flex;
  justify-content: space-between;
}

.content_header--info{
  width: 50%;
  position: absolute;
  padding: 20px;
}

.name_company p{
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
}

.address_company p, .number_text p, .release_date p{
  font-style: italic;
  margin-right: 16px;
  margin: 4px 4px 4px 0;
}

.address_company , .number_text , .release_date {
  display: flex;
  line-height: normal;
  margin: 4px 4px 4px 0;
}

.address_company span, .release_date span{
  margin: 4px 4px 4px 0;
}

.number_text input {
  border: none;
  outline: none;
}
